[submodule "matrix"]
	path = matrix
	url = https://github.com/mirrorscotty/matrix.git
[submodule "material-data"]
	path = material-data
	url = https://github.com/mirrorscotty/material-data.git
[submodule "fe-solver"]
	path = fe-solver
	url = https://github.com/mirrorscotty/fe-solver.git
